/* Base CSS */
html, body {
color: #fff;
font-family: "Roboto", sans-serif;
height: 100%;
width: 100%;
margin: 0;
padding: 0;
}
/* Sections */
section {
height: 100%;
}
section.me {
background-color: rgba(92, 247, 255, .8 );
text-align: center;

}

section.finance {
background: url('../images/finance.jpg') no-repeat center center fixed;
background-size: cover;
text-align: center;

}

section.coding {
background: url('../images/sky.jpg') no-repeat center center fixed;
background-size: cover;
text-align: center;

}

section.second {
background-color: rgba(143, 255, 92, .8);

}
section.third {
background: url('../images/middle.jpg') no-repeat center center fixed;
background-size: cover;
}
section.fourth {
background: url('../images/bottom.jpg') no-repeat center center fixed;
background-size: cover;
}
/* Titles */
section h1 {
font-weight: 100;
font-size: 100px;
float: none;
text-align: center;
display: inline-block;
vertical-align: middle;
letter-spacing: 10px
}
/* Center the div */
.center {
text-align: center;
vertical-align: middle;
height: auto;
width: auto;
}
/*Put things in middle of the page*/
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}